@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

nav {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

nav img {
  position: absolute;
  height: 25px;
  margin-top: 9px;
  margin-left: 9px;
}

nav input {
  outline: none;
  width: 556px;
  padding: 10px;
  padding-left: 35px;
  border-radius: 125px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid #1e1e1e;
}

.img-div {
  display: flex;
  margin-right: 60px;
}

.twitter-img {
  margin-right: 60px;
}

.img-div img {
  height: 30px;
}

.all-profiles-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.profile-div {
  width: 12em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  padding: 2em 1em 1em 1em;
  background: #353535;
  color: #fff;
  border-radius: 0.5em;
  box-shadow: #000 2px 2px 2px;
  border: 2px solid transparent;
}

.profile-div:hover {
  transform: scale(1.05);
  box-shadow: #000 2px 2px 4px;
}

.profile-div img {
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
  border: 3px solid #00acee;
  transition: all 0.3s;
  box-shadow: #000 2px 2px 4px;
}

.profile-div img:hover {
  transform: scale(1.05);
  border-color: chartreuse;
}

.profile-div>a:nth-child(4) {
  width: 100%;
}

.profile-div button {
  background: #00acee;
  width: 100%;
  margin: 1.5em auto 0 auto;
  height: 2em;
  border-radius: 0.3em;
  border: transparent 2px solid;
  font-size: 1.05em;
  transition: all 0.3s;
  box-shadow: #000 2px 2px 4px;
  cursor: pointer;
}

.profile-div button:hover {
  background-color: chartreuse;
  transform: scale(0.9) translate(0px, 2px);
}

.profile-div p:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin: 1em auto 0em auto;
}

.profile-div p:nth-child(3) {
  font-size: 1em;
  cursor: pointer;
  color: #cdcdcd;
}

@media (max-width: 500px) {
  nav input {
    width: 200px;
  }

  .profile-div {
    width: 70vw;
    margin: 1em auto;
  }
}
