@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f8f3e2;
}

nav {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.input-div {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon-container {
  background-color: #00acee;
  border-radius: 0 1.1rem 1.1rem 0;
  padding: 5px 15px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  /* Center the container vertically */

}

.input-div img {

  height: 22px;
  right: 10px;
  transition: all 0.3s;
  filter: brightness(0) invert(1);
}

.input-div img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  width: min(60vw, 460px);
  padding: 0.5rem;
  padding-left: 20px;
  border: 1px solid darkgrey;
  border-radius: 1.1rem;


  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  ;

}

.search-input::placeholder {
  color: rgb(100, 100, 100);

}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-div img {
  transition: transform 1s;
}

.img-div img:hover {
  transform: scale(1.4);
}

.img-div img {
  height: 30px;
}

.all-profiles-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.profile-div {
  width: 12em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  padding: 2em 1em 1em 1em;
  background: #353535;
  color: #fff;
  border-radius: 0.5em;
  box-shadow: #000 2px 2px 2px;
  border: 2px solid transparent;
}

.profile-div:hover {
  transform: scale(1.05);
  box-shadow: #000 2px 2px 4px;
}

.profile-div img {
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
  border: 3px solid #00acee;
  transition: all 0.3s;
  box-shadow: #000 2px 2px 4px;
}

.profile-div img:hover {
  transform: scale(1.05);
  border-color: chartreuse;
}

.profile-div>a:nth-child(4) {
  width: 100%;
}

.profile-div button {
  background: #00acee;
  width: 100%;
  margin: 1.5em auto 0 auto;
  height: 2em;
  border-radius: 0.3em;
  border: transparent 2px solid;
  font-size: 1.05em;
  transition: all 0.3s;
  box-shadow: #000 2px 2px 4px;
  cursor: pointer;
}

.profile-div button:hover {
  background-color: chartreuse;
  transform: scale(0.9) translate(0px, 2px);
}

.profile-div p:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin: 1em auto 0em auto;
}

.profile-div p:nth-child(3) {
  font-size: 1em;
  cursor: pointer;
  color: #cdcdcd;
}

.no-profile-div {
  width: 100%;
  margin-top: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.no-profile-div>p {
  margin-top: 1em;
  font-size: 1em;
  font-weight: normal;
  color: #cdcdcd;
}

.night-mode {
  /* background: #2e2e2e; */
  background: #000000e3;

  color: #fff;
}

.rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 1s;
}

.background-sun {
  background-color: #353535;
}

.background-moon {
  background-color: rgb(156 163 175)
}

.fa-sun {
  color: #eab308;
}

.fa-moon {
  color: #1f2937;
}

.github-img {
  background-color: white;
  border-radius: 50%;
}

.rounded:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {

  .profile-div {
    width: 70vw;
    margin: 1em auto;
  }
}

@media (prefers-color-scheme: dark) {
  .github-img {
    background-color: white;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #A0A0A0;
}

.footer{
  background-color: #353535;
  padding: 70px 0;
}

.footer-container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 30%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

ul{
  list-style: none;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li p{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li p a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease;
}

.footer-col ul li p:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 767px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col{
    width: 100%;
    margin-left: 20px;
  }
}